{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>Магазин спортивного питания предлагает широкий ассортимент продуктов, предназначенных для тех, кто активно занимается спортом и стремится к достижению своих физических целей. Здесь вы найдете различные виды протеинов, аминокислоты, витамины и минералы, жиросжигатели, креатин, энергетические напитки и многое другое. Магазин гордится своим качественным товаром, который предлагает продукты от ведущих брендов в индустрии спортивного питания. Все товары проходят строгий контроль качества, чтобы гарантировать, что они отвечают самым высоким стандартам.</p>

{% endblock %}
