{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>Credits: 163ONMYNECK • BUSHIDO ZHO • BLAGO WHITE • DOOMEE • EMOTIONPLUG • FEDUK • FENDIGLOCK • FLESH • JABO • KYIVSTONER • LIL KRYSTAlll • LOVV66 • LIZER • MAYOT • MAGNUM OPUS • OG BUDA • PLOHOYPAREN • POLYANA • PINQ • SEEMEE • SCALLY MILANO • SODA LUV • SOKOL CREW • UGLYSTEPHAN • YANIX • YUNGWAY • ЕГОР КРИД • ЖАК ЭНТОНИ • МАЛЕНЬКИЙ ЯРЧЕ • МОЛОДОЙ ПЛАТОН • ПЛАТИНА • ХАМИЛЬ ETC..</p>

{% endblock %}
