{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    <strong>Адрес: </strong>г. Жодино, ул. 40 лет Октября<br />
    <strong><abbr title="Телефон">Тел.:</abbr></strong>
    +7-800-555-35-35
</address>
<address>
    <strong>Канал YouTube:</strong> <a href="https://www.youtube.com/@musclestore-ru" target="_blank">Спортпит</a><br />
    <strong>E-mail:</strong>   <a href="office@belaz.minsk.by">office@belaz.minsk.by</a><br />
</address>
{% endblock %}
