{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    <strong>Адрес: </strong>Горажный кооператив на улице машениста<br />
    <strong><abbr title="Телефон">Тел.:</abbr></strong>
    +7-800-555-35-35
</address>
<address>
    <strong>Канал YouTube:</strong> <a href="https://www.youtube.com/@avtosalon-syndicate" target="_blank">Автосалон Синдиката</a><br />
    <strong>E-mail:</strong>   <a href="arkasha0311@yandex.ru">arkasha0311@yandex.ru</a><br />
</address>
{% endblock %}
