{% extends "app/layout.html" %}
{% block content %}

    <h2>{{ title }}</h2>
    <div>
        <h3>Наши история</h3>
        <VIDEO src="/media/1.mp4" controls="controls" width="500" poster="/media/1.jpg">
    </div>
    <br><span class="copyright">История MELON MUSIC <a href="https://youtu.be/qR0XuDaAr8I?si=XsB5yiWDe6W1b3Yt" target="_blank">«история MELON MUSIC»</a>.</span>
    <hr/>
    <div>
        <h3>MELON FREESTYLE SPECIAL</h3>
        <VIDEO src="/media/2.mp4" controls="controls" width="500" poster="/media/2.jpg">
    </div>
    <br><span class="copyright">Фрагмент клипа <a href="https://youtu.be/iTQp927GtRc?si=XFBnIET7UzACXYha" target="_blank">«MELON FREESTYLE SPECIAL: OG BUDA, MAYOT, SEEMEE, 163ONMYNECK»</a>.</span>

{% endblock %}