{% extends "app/layout.html" %}
{% block content %}

    <h2>{{ title }}</h2>
    <div>
        <h3>ПРОВЕРКА НА ПРОЧНОСТЬ! S-class на СЕКРЕТНОМ ПОЛИГОНЕ!</h3>
        <VIDEO src="/media/1.mp4" controls="controls" width="500" poster="/media/1.jpg">
    </div>
    <br><span class="copyright">Фрагмент видео <a href="https://www.youtube.com/watch?v=ywdeM-6WvAI" target="_blank">«SCATT Shooting Training Systems Highlights»</a>.</span>
    <hr/>
    <div>
        <h3>Сделали лучше чем в СССР! Ока для народного ГЕРОЯ..</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ejMtf4XRtoU?si=yO3tMP6AtNc_K9pQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    

{% endblock %}